*.class
*.war
*.log*
.build
.revision

.gradle/
gradle.properties
local.properties
bin/
build/
deploy/

.idea/
*.iml
*.properties

.classpath
.project
.settings

*.DS_Store
classes/

out/

npm-debug.log
node_modules
typings

*.js
*.js.map